header{
    background-color: rgb(38,38,38);
    width: 100%;
    height: 10vh;
    .header_content{
        display:flex;
        justify-content: space-between;
        width: 80%;
        margin: auto;
        padding: 2rem, 3rem;
        .header_menu{
            display: flex;
            gap: 2rem;
            .header_intems{
                list-style: none;
                .header_links{
                    color:tomato;
                    text-decoration:none;
                    padding: 1rem;
                    &:hover{
                        background-color: yellowgreen;
                    }
                }
            }
        }


    }
}